<ion-view title="Add category" id="categoryform">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-light icon ion-checkmark"> save</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <form id="addNewCategory-form3" class="list">
      <label class="item item-input item-floating-label" id="addNewCategoty-input4">
        <span class="input-label">Add a Category</span>
        <input type="text" placeholder="enter category name">
      </label>

    </form>
  </ion-content>
</ion-view>