<ion-view title="category" id="page5">
  <!--<ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-light icon ion-ios-plus-outline" ng-click="goToAddCategory()"> Add Category</button>
  </ion-nav-buttons>-->
  <ion-content padding="false" scroll="false" class="has-header">
    <form id="addNewCategory-form3" class="list">
      <ion-item ng-repeat="category in categories" id="addNewCategory-list-item29">{{category}}</ion-item>

    </form>
  </ion-content>
</ion-view>