<ion-view title="Items" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="items-card21">
      <ion-item class="item-icon-left assertive" id="items-list-item20" ui-sref="menu.allItems">
        <i class="icon ion-android-list"></i>Items</ion-item>
    </div>
    <div class="list card" id="items-card22">
      <ion-item class="item-icon-left royal" id="items-list-item22" ui-sref="menu.addNewCategory">
        <i class="icon ion-social-buffer"></i>Category</ion-item>
    </div>
    <div class="list card" id="items-card23">
      <ion-item class="item-icon-left dark" id="items-list-item24" ui-sref="menu.addDiscount">
        <i class="icon ion-pricetag"></i>Discounts</ion-item>
    </div>
  </ion-content>
</ion-view>