<ion-view title="" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-reply" ng-click="refund()"> Refund</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page8-list9">
      <ion-item class="item-divider" id="page8-list-item-divider1">Receipt detail</ion-item>
      <ion-item class="item-icon-left" id="page8-list-item46">
        <i class="icon ion-ionic"></i>{{item.itemname}}</ion-item>
      <ion-item id="page8-list-item47">{{item.itemname}}</ion-item>
      <ion-item id="page8-list-item48">{{item.itemname}}</ion-item>

    </ion-list>
  </ion-content>
</ion-view>