<ion-view title="     Sales" id="page1" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-cart-outline" ui-sref="cart"> Cart</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">

    <ion-list id="sales-list10">
      <label class="item item-select" id="sales-select4">
        <span class="input-label" ><h3>Select Category</h3></span>
        <select ng-model="category.catSelected" ng-change="showSelectValue(category.catSelected)" class="sales-select">
          <option value="" selected>All</option>
          <option ng-repeat="category in categories">{{category}}</option>
          
        </select>
      </label>
      <ion-item class="item-icon-left" ng-repeat="item in items" id="sales-list-item4" ng-click="getQuantity(item)">{{item.itemname}}
        <i class="icon ion-android-checkbox-blank"></i>

        <span class="item-note">Unit price: {{item.price}} tk  </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>