/* Empty. Add your own CSS if you like */
.sales-select{
   width: 75%;
   color: 'red';
}

.bgcol{
    background-color:grey;
    color:lightgreen;
    height:100px;
    
}

.pane-bg {
        background: url("../img/backgrounds.jpg") no-repeat center center fixed; 
        
        background-size: cover;
    }

    .scaling{
        margin-top:220px;
    }

    .fixing-width{
        width:10px;
    }

